.div_contenido {
    width: 100%;
    height: 100%;
    position: relative;   
    overflow-y: auto;
}

#div_info_activo {
    position: relative;
    margin: auto;
    margin-top: 8%;
    height: 53%;
    width: 70%;
    border-radius: 8px;
    background-color: #201d1d;
}

#form_activo{
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    float: right;
}

.txt, #cmb_institucion, #cmb_tipo, #cmb_estado {
    width: 345px;
    height: 30px;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #2b2828;
    color: white;
}

#txt_observ_activo {
    width: 500px;
    height: 100px;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #2b2828;
    color: white;
}

.txt_obs {
    width: 800px;
    height: 100px;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #2b2828;
    color: white;
}

#div_datos {
    width: 75%;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
}

.div_foto_act {
    position: relative;
    width: 200px;
    height: 250px;
    background-color: #2b2828;
    color: white;
}

.div_foto_act h1 {    
    font-size: 20px;
    color: white;
}


#div_datos label {
    margin: 10px 20px;
    color: white;
}

#div_btns {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right; 
}

.btn {
    position: relative;
    margin: auto;
    width: 100px;
    height: 50px;    
    border: solid 2px white;
    color: white;
    border-radius: 4px;
}

#btn_foto_activo {
    margin: auto;
    position: absolute;
    left: 20%;
    bottom: 10%;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(135deg, cadetblue 40%, #821622 50%, #b31622 70%, #821622 90%);
    background-position: 100%;
    background-size: 300%;
    color: white;
    padding: 15px 15%;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s, font-size .6s;
}

#btn_guardar {
    background-color: cadetblue;    
}

#btn_cancelar {
    background-color: red;
}

#btn_cancelar:hover, #btn_guardar:hover {
    border-color: #e9a825;
    color: #e9a825;
    background-color: black;
    cursor: pointer;
}