.div_contenido {
    width: 100%;
    height: 100%;
    position: relative;   
    overflow-y: auto;
}

#div_infoUsuario {
    position: relative;
    margin: auto;
    margin-top: 8%;
    height: 53%;
    width: 70%;
    border-radius: 8px;
    background-color: #201d1d;
}

#form_usuario{
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    float: right;
}

#div_txts {
    width: 75%;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
}


#div_txts label {
    margin: 10px 20px;
    color: white;
}

.txt, #cmb_rol {
    width: 345px;
    height: 30px;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #2b2828;
    color: white;
}

#div_btns {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right; 
}

.btn {
    position: relative;
    margin: auto;
    width: 100px;
    height: 50px;    
    border: solid 2px white;
    color: white;
    border-radius: 4px;
}

#btn_guardar {
    background-color: cadetblue;    
}

#btn_cancelar {
    background-color: red;
}

#btn_cancelar:hover, #btn_guardar:hover {
    border-color: #e9a825;
    color: #e9a825;
    background-color: black;
    cursor: pointer;
}
