/* CSS para la pantalla de inicio */

.div_contenido {
    width: 100%;
    height: 100%;
    display: flexbox;    
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.div_contenido h2 {
    position: relative;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-size: 50px;   
    width: auto;
    text-align: center;
    align-self: center;     
}

#div_instrumentos {    
    position: absolute;
    left: 17.5%;
    top: 20%;
    width: 65%;
    height: 70%;
    background-image: url('../rsc/imgs/emspz.jpg');     
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid 2px #e9a825;
    transition: 1s;
}

#div_instrumentos:hover {
    background-size: 105%;
}