.div_contenido {
    width: 100%;
    height: 100%;
    position: relative;    
}

/* CSS para mostrar las opciones de FILTRAR de los ACTIVOS, es decir el LADO IZQUIERDO de la pantalla */

#div_izq {
    position: relative;
    margin: auto;
    top: 7%;
    margin-left: 2%;
    float: left;
    width: 38%;
    height: 93%;
    color: white;
}


#form_filtrar {
    position: relative;
    border-radius: 8px;
    height: auto;
    background-color: #201d1d;
    margin-bottom: 10%;
}

#lb_buscar {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin: 5px 10px 2px 10px;
}

.txt_datos {
    width: 345px;
    height: 30px;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #2b2828;
    color: white;
}
.slc_datos {
    width: 345px;
    height: 30px;
    margin: 5px;
    border: solid 1px #2b2828;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #2b2828;
    color: white;
}

.lb_contenedor {
    position: relative;
    margin: 2px 10px;
}


#div_opciones {
    margin: 10px;
    display: flex;
    flex-direction: row;
}


#div_estados {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
}


#div_tipo_activo {
    display: flex;
    flex-direction: column;
    width: 45%;
}

#btn_filtrar {
    margin: auto 20px;
    width: 100px;
    height: 40px;
    background: linear-gradient(135deg, cadetblue 40%, #821622 50%, #b31622 70%, #821622 90%);
    background-position: 100%;
    background-size: 300%;
    color: white;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    transition: 1s, font-size .6s;
}

#btn_nuevo_instrumento {
    margin: auto;
    position: absolute;
    left: 20%;
    bottom: 10%;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(135deg, cadetblue 40%, #821622 50%, #b31622 70%, #821622 90%);
    background-position: 100%;
    background-size: 300%;
    color: white;
    padding: 15px 15%;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s, font-size .6s;
}

#btn_nuevo_instrumento:hover, #btn_filtrar:hover {
    background-position: 0%;
    color: black;
    cursor: pointer;
    font-size: 1.1em;
}



#div_der {
    float: right;
    position: relative;
    margin: auto;
    width: 60%;
    height: 100%;
    display: flexbox;
    flex-direction: column;    
    overflow-y: auto;
}

.div_cont_activo {
    width: 95%;
    height: auto;
    margin: 7.5px 20px 7.5px 10px;
    float: right;
    padding: 1px;
    padding-left: 4px;
    transition: .5s;
    border-bottom: solid 2px white;    
    background-color: #2b2828;
    border-radius: 15px;        
    color: white;
    display: flexbox;
    flex-direction: column;    
}

.div_cont_activo h1 {    
    font-size: 20px;
}

.div_cont_activo:hover {
    padding: 10px;
    border-color: #e9a825;
    color: #e9a825;
}

.div_datos_activo {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: 5px;
}

.div_foto_activo {
    width: 90px;
    height: 90px;
}

.img_fotoAct {
    max-width: 100%; 
    width: 100%;
    max-height: 100%;
    height: 100%;
}

.div_info_instrumento {    
    margin: 5px 40px;
    font-size: 16.5px;
}

.div_info_instrumento span {
    font-size: 16.5px;
    margin: 3px;
}

.div_botones {
    display: flexbox;
    flex-direction: row;
    float: right;
    width: auto;
}

.btnEditar, .btnBaja {
    margin: 2px 2px;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: solid 2px white;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: .5s;
}

.btnEditar {
    background-color: cadetblue;
}

.btnBaja {
    background-color: red;        
}

.btnEditar:hover, .btnBaja:hover {
    border-color: #e9a825;
    color: #e9a825;
    background-color: black;
    cursor: pointer;
}


.mod_titulo {
    color: black;
}