/* 
    Dorado: #e9a825
    Vino: #471323
    Negro: #000000
    Gris: #2b2828
    Gris2: #201d1d
    Blanco: #ffffff
*/

html, body {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color:#000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 800px;
    min-height: 600px;
    overflow: hidden;
}

/* Estilos para la barra superior donde estara el nombre de usuario y la foto del mismo */
#div_top {
    position: relative;
    margin: auto;
    width: 100%;
    height: 65px;
    max-height: 65px;
    background-color: #2b2828;
}

#div_usuario {
    position: relative;
    float: right;
    margin: auto;
    width: auto;
    height: 100%;
    justify-content: flex-end;
    display: inline-flex;
    flex-direction: row;
}

#div_usuario:hover {
    cursor: pointer;
}

#div_usuario p {
    margin: auto 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    transition: .5s;
}

#div_usuario p:hover {
    color: #e9a825;
    cursor: pointer;
}

#div_menuUsuario {
    position: absolute;
    right: -241px;
    top: 65px;
    height: 140px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: linear-gradient(135deg, #2b2828 85%, #312d2d 95%);
    border-radius: 0 0 0 20px;
    z-index: 1;
    transition: .2s;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
}

#div_menuUsuario a {
    text-decoration: none;
    margin: 5px 10px;
    color: white;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
    width: 88%;
    text-align: right;
    transition: .3s;
}

#div_menuUsuario a:hover {
    color: #e9a825;
    border-color: #e9a825;
}

#div_foto {
    position: relative;
    margin: auto 5px;
    margin-right: 2px;
    width: 60px;
    height: 60px;    
    max-width: 60px;
    max-height: 60px;
    background-color: #000000;
    border: solid 2px #000000;
    border-radius: 5px;
    transition: .5s;
}

#div_foto img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#div_foto:hover {
    cursor: pointer;
    border-color: #e9a825;
}

#div_logo {
    position: relative;
    margin: 1px;
    float: left;
    height: 62px;
    max-height: 62px;
    width: auto;
    border-radius: 6px;
}

#div_logo img {
    height: 62px;
    width: auto;    
    margin: auto 6px;
    object-fit: contain;
}

/* Estilos para el boton de menu y la barra lateral */

.btn_menu {
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 1;
}

.btn_menu:hover {
    cursor: pointer;    
}

#barra1, #barra2, #barra3 {
    width: 35px;
    height: 5px;
    background-color: #e9a825;
    margin: 6px 0;
    transition: 0.4s;
}
  
.cambiar #barra1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.cambiar #barra2 {
    opacity: 0;     
}
  
.cambiar #barra3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#div_menu {
    position: absolute;
    top: 65px;
    left: -241px;
    width: 240px;
    height: 400px;
    border-radius: 0 0 20px 0;
    background: linear-gradient(135deg, #2b2828 85%, #312d2d 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-grow: 1;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    z-index: 1;
}

#div_menu a {
    text-decoration: none;
    color: white;
    transition: .3s;
    font-size: large;      
    float: left;    
    margin: 2px 10px;
    border-bottom: solid 1px white;
    width: 88%;
    padding-bottom: 2px;
}

#div_menu a:hover {
    color: #e9a825;
    border-color: #e9a825;
}

/* Estilos para la parte donde se cargara la inforacion o los datos que sean necesarios dependiendo de la seccion donde se este */
#div_base {
    position: relative;
    margin: auto;
    width: 100%;
    height: calc(100% - 65px);
}

/* Animaciones para el menu */

@keyframes abrirBoton {
    from {left: 10px;}
    to {left: 200px;}
}

@keyframes cerrarBoton {
    from {left: 200px;}
    to {left: 10px;}
}

@keyframes abrirMenu {
    from {left: -241px;}
    to {left: 0px;}
}

@keyframes cerrarMenu {
    from {left: 0px;}
    to {left: -241px;}
}

@keyframes abrirMenuUsuario {
    from {right: -241px;}
    to {right: 0px;}
}

@keyframes cerrarMenuUsuario {
    from {right: 0px;}
    to {right: -241px;}
}

/* CSS para los mensajes en las diferetes pantallas */
.msgError {
    position: absolute;
    top: 0%;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;    
    color: black;
    border: solid 2px black;
    inset: 2px;
    background-color: #b31622;
    z-index: 10;
}

.txtError {
    color: red;
}